.library {
    text-align: center;
    background: transparent;
    height: 100vh;
}
.library-top-section {
    max-width: 800px;
    padding: 5px;
    display: flex;
    margin: auto;
}
.library-content {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 2px solid black;
    margin: auto;
    background: transparent;
}

.library-main-title {
    color: #d98e20;
    font-family: 'Share Tech Mono', monospace;
    padding-bottom: 10px;
    margin: auto;
}
.library-back-button {
    color: black;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
    width: max-content;
    height: max-content;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 1px solid transparent;
}

.library-back-button:hover {
    border: 1px solid #ffd700;

    color: black;
}
