*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    align-items: center;

    padding: 16px;
    height: 50px;
}

.navbar-list {
    display: flex;
    justify-content: end;
    gap: 50px;
    border-bottom: 1px solid black;
}

.navbar-list li {
    color: black;
    font-size: 20px;
    text-transform: capitalize;

    display: block;
    padding: 10rpx 16px;
}

.navbar-list a {
    color: black;
    text-decoration: none;
}

.login-button {
    padding: 10px;
    margin: 10px;
    color: blue;
}

#app {
    color: red;
}

.click {
    padding: 20px;
}
