.library_section {
    height: 100vh;
    padding-top: 60px;
    margin: auto;
    justify-content: center;
    justify-items: center;
}

.library_top_section {
    max-width: 800px;

    display: flex;
    margin: auto;
}
.library_content {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    border: 2px solid black;
    padding: 2px;
    justify-items: center;
    justify-content: center;
    margin: auto;
    background: transparent;
}

.library_main_title {
    color: black;
    font-size: 50px;
    font-family: 'Share Tech Mono', monospace;
    padding-bottom: 10px;
    margin: auto;
}
.library_back_button {
    color: black;
    cursor: pointer;
    border-radius: 50%;
    font-weight: 600;
    font-size: 18px;
    width: max-content;
    height: max-content;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border: 1px solid transparent;
}

.library_back_button:hover {
    border: 1px solid #ffd700;

    color: black;
}

.empty_library {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 600;
}

.empty_library span {
    color: #ea738d;
}

.empty_library span:hover {
    color: #89abe3;
}
