.login_form {
    margin: auto;
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login_h1 {
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-family: Prata;
    color: #ea738d;
}

.login_label {
    font-size: 18px;
    color: #ea738d;
}

.login_input {
    padding: 25px;
    border: 1px solid rgb(216, 214, 214);
}

.account {
    color: #89abe3;
}

.login_form p {
    color: red;
}

.login_form span {
    color: #ea738d;
    text-decoration: none;
    font-size: 20px;
}

.login_form span:hover {
    color: #ea738d;
    text-decoration: underline;
    font-size: 20px;
}
