.navbar_menu_link {
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 700;
    color: #8aaae5;
    font-family: 'Montserrat', sans-serif;
}

.navbar_menu_link_closed {
    text-decoration: none;
    font-family: 'Share Tech Mono', monospace;
    padding: 0 20px;
    font-size: 25px;
    font-weight: 700;
    color: #8aaae5;
    font-family: 'Montserrat', sans-serif;
}

.navbar_menu_link:hover,
.navbar_menu_link_closed:hover {
    text-decoration: underline;
}

.navbar_login {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #ea738d;
    cursor: pointer;
    transform: translateY(-1px);
    position: relative;
}

.navbar_login_closed {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #ea738d;
    cursor: pointer;
    transform: translateY(-1px);
    position: relative;
}

.username {
    position: absolute;
    color: #89abe3;
    font-size: 40px;
    bottom: -5px;
    right: 13px;
}

.user_options {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    z-index: 999;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    font-size: 20px;
    font-weight: 300;
    color: black;
}

@media screen and (max-width: 768px) {
    .navbar_login_closed {
        display: none;
    }

    .navbar_menu_link_closed {
        display: none;
    }
}
