.auth_form {
    margin: auto;
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.auth_h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    color: #ea738d;
    font-family: Prata;
}

.auth_label {
    font-size: 18px;
    color: #ea738d;
}

.auth_input {
    padding: 25px;
    border: 1px solid rgb(216, 214, 214);
}

.auth_form p {
    color: red;
}
.auth_form p span {
    color: #ea738d;
    text-decoration: none;
    font-size: 20px;
}

.auth_form p span:hover {
    text-decoration: underline;
}

.account {
    color: #89abe3;
}
